html, body {
    height: 100%;
    margin: 0;
}

.content-wrapper {
    flex: 1;
}

body {
    font-family: sans-serif;
    min-height: 100vh; 
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    justify-content: center;
}

header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
}

.titLogo {
    display: flex;
    padding-left: 20px;
}

.logo {
    align-self: center;
    width: 75px;
    height: 75px;
}

#posts {
    margin-bottom: 20px;
}

header > div > span {
    padding-left: 20px;
    text-align: center;
    align-self: center;
}

footer {
    text-align: center;
    width: 100%;
    background: #333;
    padding: 0 0;
    color: #fff;
    height: auto;
    padding: 10px 0;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.navbar a {
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 38px;
    padding-right: 38px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: all 0.4s ease-in-out;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
    transition: all 0.4s ease-in-out;
}

.nav-social {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-social a {
    width: 40px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-right: 1px solid whitesmoke;
    border-left: 1px solid whitesmoke;
    padding: 0 10px;
}

.nav-social a:first-child {
    border-left: none;
}

.nav-social a:last-child {
    border-right: none;
}

.nav-social a img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.articulos-imagen {
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.diva {
    display: grid;
    grid-template-columns: 1fr 0fr;
}

article .diva span {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.diva span {
    position: absolute;
    text-align: center;
    transition: all 0.4s ease;
}

.diva .tit-alterno {
    opacity: 0;
}

article:hover .diva .tit-alterno {
    opacity: 1;
}

article:hover .diva {
    grid-template-columns: 1fr 1fr;
}

.header-fijo {
    width: 100%;
    text-align: center;
    position: fixed;        
    background: #333;
    color: #fff;
    top: 0;
}

.titulo {
    font-weight: bold;
    font-size: large;
}

.boton-lista {
    display: none;
}

.boton-cerrar {
    display: none;
}

#inicio {
    background-color: #850929;
    color: white;
}

ul {
    list-style-type: none;
}

.oculto {
    display: none;
}

header {
    top: 0;
}

section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    margin-bottom: 70px;
    gap: 30px;
    margin: 95px 20px 40px 20px; /* Calculated */
}

article {
    text-align: center;
    background-color: white;
    box-shadow: 0px 5px 20px 8px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 5px 20px 8px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 5px 20px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease-in-out;
}

article:hover {
    box-shadow: 0px 5px 20px 8px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 5px 20px 8px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 5px 20px 8px rgba(0, 0, 0, 0.4);
}

.diva {
    padding: 10px;
    background-color: #850929;
}

article a {
    text-decoration: none;
    font-weight: bold;
    color: whitesmoke;
}

.tabla-contacto {
    border-spacing: 5px;
    border-collapse: separate;
}

textarea {
	border-radius: 5px;
	border-color: #850929;
	outline: none;
}

input[type=file] {
    color: transparent;
}

input[type=file]::-webkit-file-upload-button {
    color:black;
    outline: none;
    border: solid 0.5px #850929;
    border-radius: 5px;
    background-color: rgba(255,255,255,0.8);
    transition: all 0.3s ease-in-out;
    padding: 10px 10px 10px 10px;
}

input[type=file]::-webkit-file-upload-button:hover {
    color: white;
    background-color: #850929;
}

.select-pais {
    outline: none;
    border-color: #850929;
    border-radius: 32px;
    padding-left: 10px;
}

.texto form fieldset {
    border: solid 0.5px #850929;
    border-radius: 32px;
    padding: 10px 10px 10px 10px;
    margin-bottom: 40px;
}

td input[type=text], td input[type=email] {
    outline: none;
    border: solid 0.5px #850929;
    border-radius: 32px;
    padding-left: 10px;
}

td input[type=reset], td button[type=submit] {
	background-color: whitesmoke;
	border: none;
	color: #850929;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	cursor: pointer;
    border: 1px solid #850929;
	border-radius: 5px;
	outline: none;
	transition: all 0.3s linear;
}

td input[type=reset]:hover, td button[type=submit]:hover {
	color: whitesmoke;
	background-color: #850929;
}

td input[type=reset]:focus, td button[type=submit]:focus {
	outline: none;
}